body {
    font-family: 'Open Sans', sans-serif;
    background-color: #ffffff;
    color: #444;
    line-height: 1.6;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
  }
  
  header {
    background-color: #000000;
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .logo-container {
    margin-left: 20px;
  }
  
  .logo {
    height: 50px;
    width: auto;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    display: inline-block;
    margin: 0 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    transition: color 0.2s ease;
  }
  
  nav a:hover {
    color: #ccc;
  }
  
  section {
    padding: 20px;
  }
  
  #blogs {
    margin-top: 20px;
  }
  
  .ad-space {
    height: 60px;
    margin: 20px 0;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  footer {
    background-color: rgb(0, 0, 0);
    color: #fff;
    text-align: center;
    padding: 10px 0;
    clear: both;
  }
  
  footer img {
    height: 50px;
    margin-top: 10px;
  }
  
  h1, h2 {
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
  }
  
  article {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  article img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 10px;
  }
  
  @media screen and (max-width: 768px) {
    .container {
      max-width: 90%;
    }
    nav ul li {
      margin: 0 10px;
    }
    article {
      margin-bottom: 10px;
    }
  }